<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'MEETINGS.ORGANISERS.ADD.MEETINGORGANISERS' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form name="memberForm" #memberForm="ngForm" (ngSubmit)="save(memberForm); memberForm.valid && c('Save click');" novalidate>
        <div class="modal-body py-3">

                <div class="form-group m-form__group">
                        <input type="text" name="username" #username="ngModel" placeholder="{{'MEETINGS.ORGANISERS.ADD.SEARCHBYNAME' | translate}}" class="form-control" [(ngModel)]="user" (ngModelChange)="getSearchForUsers($event)"/>
                        <input type="checkbox" id="ischecked" name="ischecked" [(ngModel)]="atLeastOneSelected" #ischecked="ngModel" hidden required>
                    </div>
                    <div class="form-group m-form__group">
                        <div class="mat-table__wrapper">
                            <table mat-table class="table table-bordered m-table table-hover table-striped table-scroll clickable mat-table" [dataSource]="users" matSort matSortActive="id" matSortDirection="desc"
                                matSortDisableClear>
                                <ng-container matColumnDef="select">
                                    <th *matHeaderCellDef class="mat-column-checkbox">
                                        <mat-checkbox [(ngModel)] = "selectedAll" (change) = "selectAll()" name="selectall" #selectall="ngModel">
                                        </mat-checkbox>
                                    </th>
                                    <td *matCellDef="let user" class="mat-column-checkbox">
                                        <mat-checkbox  [(ngModel)]="user.is_selected"
                                            (change)="selectUser(user)" name="isselected" #isselected="ngModel">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="name">
                                    <th *matHeaderCellDef mat-sort-header>
                                        {{'MEETINGS.ORGANISERS.ADD.USERNAME' |translate}}
                                    </th>
                                    <td *matCellDef="let user">
                                        {{isArabic? (user.name_ar? user.name_ar : user.name) : (user.name? user.name : user.name_ar)}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <th *matHeaderCellDef mat-sort-header>
                                            {{'MEETINGS.ORGANISERS.ADD.EMAIL' |translate}}
                                    </th>
                                    <td *matCellDef="let user">
                                        {{user.email}}
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                            </table>

                        </div>
                    </div>
                    <div class="error text-danger form-control-feedback" [hidden]="!hasError(memberForm,'ischecked', 'required')">{{'MEETINGS.ORGANISERS.VALIDATION.MEETINGORGANISERS' | translate}}</div>

        </div>



        <div class="modal-footer">
            <button class="btn btn-default" mat-button (click)="close();d('Cross click')">{{'BUTTON.CANCEL' | translate}}</button>&nbsp;
            <button class="btn btn-primary" mat-button type="submit" cdkFocusInitial >{{'MEETINGS.ORGANISERS.ADD.ADDMEMBER' | translate}}</button>
        </div>
    </form>
</ng-template>

<button type="button" class="btn btn-light-grey title-action-btn" (click)="open(content)" [hidden]="!canEditMeeting">
    <i class="fa fa-plus"></i>&nbsp;{{'MEETINGS.ORGANISERS.ADD.ADDMEMBER' | translate}}
</button>
