/*
@import "./theme";
@import "./mixins"; */
@import "./general/base.css";
@import "./general/forms.css";
 /* custom css */
 @import "./custom/base.css";
 @import "./general/buttons.css";
@import "./custom/font.css";
@import "./custom/portlet.css";
@import "./custom/login.css";
@import "./custom/form.css";
@import "./custom/table.css";
@import "./custom/tabs.css";
@import "../../vendors/base/fonts/mjlsi-fonticon/font/flaticon.css";
/* @import "@ng-select/ng-select/themes/default.theme.css"; */
@import "./custom/imageupload.css";
@import "./custom/dropzone.css";
@import "./custom/layout.css";

@import "./custom/meeting-preview.css";
@import "./custom/calendar-icon.css";
@import "./custom/comments.css";

@import "./custom/charts.css";
@import "./presentation/presentation.css";


/* @import "./custom/table.scss";
// @import "./custom/layout.scss";
@import "@ng-select/ng-select/themes/default.theme.css";
@import "./custom/imageupload"; */


/* @import 'custom.css'; */

#pointer{

    border: 15px rgb(255, 199, 0) solid;
}


#add-text{
    border: 1px black solid;
}

.highlighted {
    background-color:#e6e6e6;
  }

  .enz-spinner{
    width: 160px;
  }
