/*
@import "./theme";
@import "./mixins"; */
@import "./general/base.css";
@import "./general/forms.css";
 /* custom css */
 @import "./custom/base.css";
 @import "./general/buttons.css";
@import "./custom/font-rtl.css";
@import "./custom/portlet.css";
@import "./custom/login.css";
@import "./custom/form.css";
@import "./custom/table.css";
@import "./custom/tabs.css";
@import "../../vendors/base/fonts/mjlsi-fonticon/font/flaticon.css";
/* @import "~@ng-select/ng-select/themes/default.theme.css"; */
@import "./custom/imageupload.css";
@import "./custom/dropzone.css";
@import "./custom/layout.css";

@import "./custom/meeting-preview.css";
@import "./custom/invitation-media-rtl.css";
@import "./custom/comments.css";

@import "./custom/charts.rtl.css";
@import "./presentation/presentation.css";
/* @import "./custom/table.scss";
// @import "./custom/layout.scss";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "./custom/imageupload"; */


/* @import 'custom.css'; */

#pointer{
    border: 15px rgb(255, 199, 0) solid;
}

.highlighted {
    background-color:#e6e6e6;
  }


  .enz-spinner{
    width: 160px;
  }
  input[type="email"] {
    text-align: right;
}
@media (min-width: 1025px){
	.m-aside-left--fixed .m-body {
		padding-right: 300px;
	}
	.m-aside-left .m-brand.m-brand--skin-dark {
		background: #34607b;
	}
}

