<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'PRESENTATION.PRESENTATION_PRESENTERS' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="close ();d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <form name="memberForm" #memberForm="ngForm" (ngSubmit)="save(memberForm); memberForm.valid && c('Save click');"
        novalidate>

        <div class="form-group m-form__group">
            <div class="mat-table__wrapper">
                <table mat-table
                    class="table table-bordered m-table table-hover table-striped table-scroll clickable mat-table"
                    [dataSource]="agendaPresenters" matSort matSortActive="id" matSortDirection="desc"
                    matSortDisableClear>
                    <ng-container matColumnDef="select">
                        <th *matHeaderCellDef>
                           
                        </th>
                        <td *matCellDef="let user">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                            name="isPresenter" #isPresenter="ngModel" [(ngModel)]="presenterId">
                                <mat-radio-button class="example-radio-button" (click)="ClickOnPresenters(user)"
                                    [value]="user.user_id??user.meeting_guest_id">
                                </mat-radio-button>
                            </mat-radio-group>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <th *matHeaderCellDef>
                            {{'PRESENTATION.PRESENTER_NAME' | translate}}
                        </th>
                        <td *matCellDef="let user">
                            <!-- {{isArabic? (user.name_ar? user.name_ar : user.name) : (user.name? user.name : user.name_ar)}} -->
                            {{getPresentersLabel(user)}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                </table>

            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" mat-button type="submit"
                cdkFocusInitial>{{'PRESENTATION.CHANGE_PRESENTER' | translate}}
                <i class='fa fa-spinner fa-spin ' *ngIf="submitted"></i>
            </button>
            <button class="btn btn-secondary" mat-button
                (click)="close();d('Cross click')">{{'BUTTON.CANCEL' | translate}}</button>&nbsp;
        </div>
    </form>
</ng-template>

<!-- <button type="button" class="btn btn-secondary btn-link" (click)="open(content)">
    <i class="fa fa-plus"></i>{{'COMMITTEES.ADD.ADDMEMBER' | translate}}
</button> -->

<button class="dropdown-item" (click)="open(content)" ngbDropdownItem [disabled]="endMeetingSubmitted" [ngClass]="{'not-allowed': endMeetingSubmitted}">{{'PRESENTATION.CHANGE_PRESENTER' | translate}}</button>