<m-portlet [options]="{ headLarge: false }">
	<!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				{{ "COMMITTEES.LIST.COMPLETIONPERCENTAGE" | translate }}
			</h3>
		</div>
	</ng-container>

	<!-- start::Body (attribute: mPortletBody) -->
	<!--! table -->
	<ng-container mPortletBody>
		<div class="bg-white--content">
			<div class="mat-table__wrapper">
				<table mat-table class="table table-bordered m-table table-hover table-striped table-scroll clickable mat-table" [dataSource]="committeeRemainPercentageToFinishDatasource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear>
					<ng-container matColumnDef="committee_name_en">
						<th *matHeaderCellDef mat-sort-header>{{ "COMMITTEES.LIST.COMMITTEEHASLESSTHAN20" | translate }}</th>
						<td *matCellDef="let committee">{{ isArabic ? committee.committee_name_ar : committee.committee_name_en ? committee.committee_name_en : committee.committee_name_ar }}</td>
					</ng-container>

					<ng-container matColumnDef="remain_to_finished">
						<th *matHeaderCellDef mat-sort-header>{{ "COMMITTEES.LIST.PERCENTAGE" | translate }}</th>
						<td *matCellDef="let committee">{{ committee.remain_to_finished }}</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="committeeRemainPercentageToFinishDisplayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: committeeRemainPercentageToFinishDisplayedColumns"></tr>
				</table>
				<div class="mat-table__message" *ngIf="committeeRemainPercentageToFinishDatasourceLength">{{ "GENERAL.NORECORDSFOUND" | translate }}</div>
			</div>

			<!-- start: BOTTOM -->
			<div class="mat-table__bottom">
				<mat-spinner [diameter]="20" *ngIf="loading$ | async"></mat-spinner>
				<mat-paginator [pageSize]="pageSize" [length]="paginatorTotal$" [showFirstLastButtons]="true"></mat-paginator>
			</div>
		</div>
	</ng-container>

	<!-- end::Body -->
</m-portlet>
