<div id="m_login" class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2">
<div class="m-grid__item m-grid__item--fluid m-login__wrapper-2 m-login__wrapper">
		<div class="m-login__container">
			<div class="m-login__logo">
				<a href="#">
						<img src="./assets/app/media/img/logos/{{themeName}}/Main-Logo.png">					
				</a>
			</div>
		
			
				<!--begin::Signin-->
<div class="m-login__signin mjlsi--auth-form text-center">
		<div class="m-login__head">
				<h3 >{{'AUTH.CONFIRM.GREAT' | translate}} </h3>
		<span >{{'AUTH.CONFIRM.MESSAGE' | translate}}</span>
		
				<!-- <h3 class="m-login__title">Log in to your account</h3> -->
			</div>
			<div class="m-login__account text-center">

					<a href="javascript:;" [routerLink]="['/login']"
					id="m_login_signup" class="m-link m-link--light m-login__account-link"
					>
					<i class="la la-arrow-left"></i>
					{{'AUTH.CONFIRM.BACk' | translate}}
				</a>
				</div>
		<!-- <div class="m-login__title">
			<h3 translate="AUTH.LOGIN.TITLE">Sign In To Admin</h3>
		</div>
	
		<div class="m-login__head">
				<span translate="AUTH.GENERAL.NO_ACCOUNT">Don't have an account?</span>
				<a href="javascript:;" class="m-link m--font-danger" translate="AUTH.GENERAL.SIGNUP_TXT">Sign Up</a>
			</div> -->
		<m-auth-notice></m-auth-notice>
	

	

	
	</div>
	<!--end::Signin-->
		
			
		
			
		</div>
	</div>
</div>





