::ng-deep .mat-horizontal-stepper-header {
  box-sizing: border-box;
  height: auto;
  padding: 24px;
}
::ng-deep .mat-horizontal-stepper-header .mat-step-label {
  padding: 0px 0px 16px !important;
}
::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}
