<m-portlet [options]="{headLarge: false}">
	<!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text">
				{{'CIRCULAR_DECISIONS.LIST.CIRCULAR_DECISIONS' | translate}}
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>

		<button type="button" class="btn btn-secondary btn-link" (click)="isCollapsed = !isCollapsed"
			[attr.aria-expanded]="!isCollapsed">
			<i class="fa fa-filter"></i>
			{{'BUTTON.SHOWFILTER' | translate}}
		</button>
		<a [routerLink]="['/circular-decisions/add']" type="button" class="btn btn-primary" [hidden]="!addFlag"
			joyrideStep="addCircularDecision" [title]="'TUTORIALGUIDE.ADD_CIRCULAR_DECISION_TITLE' | translate"
			[text]="'TUTORIALGUIDE.ADD_CIRCULAR_DECISION_BODY' | translate">
			<i class="fa fa-plus"></i>{{'CIRCULAR_DECISIONS.ADD.ADD_NEW_CIRCULAR_DECISION' | translate}}
		</a>
	</ng-container>
	<!-- end::Header -->
	<ng-container mPortletBody>
		<div class="row" id="collapseExample" [ngbCollapse]="!isCollapsed">
			<div class="m-form col-md-12">
				<div class="bg-white--content">
					<form class="" novalidate #roleForm="ngForm" (ngSubmit)="getList()">

						<table class="table table-filter table-bordered table-hover">
							<thead class="">
								<tr>
									<th>{{'DECISIONS.LIST.SUBJECT' | translate}}</th>
									<th>{{'DECISIONS.LIST.DECISION_TYPE' | translate}}</th>
									<th>{{'CIRCULAR_DECISIONS.LIST.STATUS' | translate}}</th>
									<th>{{'CIRCULAR_DECISIONS.LIST.COMMITTEE' | translate}}</th>
									<th>{{'MEETINGS_DASHBOARD.LIST.DATEFROM' | translate}}</th>
									<th>{{'MEETINGS_DASHBOARD.LIST.DATETO' | translate}}</th>
									<th> {{'ROLES.LIST.OPERATIONS' | translate}}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="text" placeholder="{{'DECISIONS.LIST.SUBJECT' | translate}}"
											class="form-control form-filter input-sm" id="vote_subject"
											name="voteSubject" [(ngModel)]="filterObject.SearchObject.vote_subject"
											#voteSubject="ngModel">
									</td>
									<td>
										<ng-select class="" [searchable]="true"
											[(ngModel)]="filterObject.SearchObject.decision_type_id"
											name="decision_type_id" #decision_type_id="ngModel" [items]="decisionTypes"
											[bindLabel]="decisionTypeBindLabel" bindValue="id"
											placeholder="{{'DECISIONS.LIST.DECISION_TYPE' | translate}}">
											<ng-template ng-label-tmp let-item="item">
												{{isArabic? (item.decision_type_name_ar? item.decision_type_name_ar :
												item.decision_type_name_en) : (item.decision_type_name_en?
												item.decision_type_name_en : item.decision_type_name_ar)}}
											</ng-template>
											<ng-template ng-option-tmp let-item="item">
												<span [title]="item.name" class="ng-option-label">{{isArabic?
													(item.decision_type_name_ar? item.decision_type_name_ar :
													item.decision_type_name_en) : (item.decision_type_name_en?
													item.decision_type_name_en : item.decision_type_name_ar)}}</span>
											</ng-template>
										</ng-select>
									</td>
									<td>
										<ng-select class="" [searchable]="true"
											[(ngModel)]="filterObject.SearchObject.vote_result_status_id"
											name="vote_result_status_id" #vote_result_status_id="ngModel"
											[items]="decisionResultStatuses" [bindLabel]="decisionResultStatusBindLabel"
											bindValue="id"
											placeholder="{{'CIRCULAR_DECISIONS.LIST.STATUS' | translate}}">
											<ng-template ng-label-tmp let-item="item">
												{{isArabic? (item.vote_result_status_name_ar?
												item.vote_result_status_name_ar : item.vote_result_status_name_en) :
												(item.vote_result_status_name_en? item.vote_result_status_name_en :
												item.vote_result_status_name_ar)}}
											</ng-template>
											<ng-template ng-option-tmp let-item="item">
												<span [title]="item.name" class="ng-option-label">{{isArabic?
													(item.vote_result_status_name_ar? item.vote_result_status_name_ar :
													item.vote_result_status_name_en) : (item.vote_result_status_name_en?
													item.vote_result_status_name_en :
													item.vote_result_status_name_ar)}}</span>
											</ng-template>
										</ng-select>
									</td>
									<td>
										<div class="input-group">
											<ng-select class="bg-light w-100" [searchable]="true" [items]="committees"
												[bindLabel]="committeeBindLabel" name="committee" #committee="ngModel"
												bindValue="id"
												placeholder="{{'REVIEWS_ROOM.ADD.SELECT_COMMITTEE' | translate}}"
												[(ngModel)]="filterObject.SearchObject.committee_id">
												<ng-template ng-label-tmp let-item="item">
													{{isArabic? item.committee_name_ar : (item.committee_name_en?
													item.committee_name_en : item.committee_name_ar)}}
												</ng-template>
												<ng-template ng-option-tmp let-item="item">
													<span [title]="item.name" class="ng-option-label">{{isArabic?
														item.committee_name_ar : (item.committee_name_en?
														item.committee_name_en : item.committee_name_ar)}}</span>
												</ng-template>
											</ng-select>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input class="form-control m-input"
												placeholder="{{'MEETINGS_DASHBOARD.LIST.DATEFROM' | translate}}"
												name="schedulefrom" [(ngModel)]="vote_schedule_from" ngbDatepicker
												#d="ngbDatepicker" (click)="d.toggle()" [readonly]="true">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary calendar"
													(click)="d.toggle();$event.stopPropagation();" type="button">
													<i class="fa fa-calendar-alt"></i>
												</button>
											</div>
										</div>
									</td>
									<td>
										<div class="input-group">
											<input class="form-control m-input"
												placeholder="{{'MEETINGS_DASHBOARD.LIST.DATETO' | translate}}"
												name="scheduleto" [(ngModel)]="vote_schedule_to" ngbDatepicker
												#dTo="ngbDatepicker" [minDate]="vote_schedule_from" [readonly]="true"
												(click)="d.toggle()">
											<div class="input-group-append">
												<button class="btn btn-outline-secondary calendar"
													(click)="dTo.toggle();$event.stopPropagation();" type="button">
													<i class="fa fa-calendar-alt"></i>
												</button>
											</div>
										</div>

									</td>
									<td>
										<div class="margin-bottom-5 in-b  serchbtnMar">
											<button type="submit" class="btn btn-primary m-btn--icon mr-2"> <i
													class="la la-search"></i> {{'BUTTON.SEARCH' |translate}}</button>
											<button type="button" class="btn btn-secondary-outline m-btn--icon"
												(click)=resetSearch()> <i class="la la-close"></i>{{'BUTTON.RESET'
												|translate}}</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>

			</div>
		</div>
	</ng-container>
	<!-- start::Body (attribute: mPortletBody) -->
	<ng-container mPortletBody>
		<div class="bg-white--content tabsWrabber">
			<ul ngbNav #nav="ngbNav" class="nav-pills" [(activeId)]="activeIdString" (navChange)="beforeChange($event)">
				<li [ngbNavItem]="'allCircularDecisions'">
					<button ngbNavLink>{{'REVIEWS_ROOM.LIST.ALL_DOCUEMNT' | translate}}</button>
					<ng-template ngbNavContent>
						<m-circular-decision-list [currentTabId]="'allCircularDecisions'"
							[filterSubject]="filterSubject" [filterObject]="filterObject"
							[loadingSubject]="loadingSubject" [activeIdString]="activeIdString"
							[dataSourceLength]="dataSourceLength" [paginatorTotal$]="paginatorTotal$"
							[vote_schedule_from]="vote_schedule_from" [vote_schedule_to]="vote_schedule_to">
						</m-circular-decision-list>
					</ng-template>
				</li>
				<li [ngbNavItem]="'createdByMe'">
					<button ngbNavLink>{{'CIRCULAR_DECISIONS.LIST.MY_DECISION' | translate}}</button>
					<ng-template ngbNavContent>
						<m-circular-decision-list [currentTabId]="'createdByMe'" [filterSubject]="filterSubject"
							[filterObject]="filterObject" [loadingSubject]="loadingSubject"
							[activeIdString]="activeIdString" [dataSourceLength]="dataSourceLength"
							[paginatorTotal$]="paginatorTotal$" [vote_schedule_from]="vote_schedule_from"
							[vote_schedule_to]="vote_schedule_to">
						</m-circular-decision-list>
					</ng-template>
				</li>
				<li [ngbNavItem]="'assignToMe'">
					<button ngbNavLink>{{'CIRCULAR_DECISIONS.LIST.CIRCULAR_DECISION_ASSIGN_TO_ME' | translate}}</button>
					<ng-template ngbNavContent>
						<m-circular-decision-list [currentTabId]="'assignToMe'" [filterSubject]="filterSubject"
							[filterObject]="filterObject" [loadingSubject]="loadingSubject"
							[activeIdString]="activeIdString" [dataSourceLength]="dataSourceLength"
							[paginatorTotal$]="paginatorTotal$" [vote_schedule_from]="vote_schedule_from"
							[vote_schedule_to]="vote_schedule_to">
						</m-circular-decision-list>
					</ng-template>
				</li>
			</ul>
			<div [ngbNavOutlet]="nav" class="mt-2"></div>
		</div>
	</ng-container>

	<!-- end::Body -->
</m-portlet>