@import "./sb-admin-2.css";
@import "./custom.css";

.meeting-summary-panel__title {
	font-size: 24px;
	color: #231F20;
	font-weight: 600;
  }

.card-header {
    background: #fff!important;
    padding: 1.5rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 0px;
}
body{
	background: #333!important;
}
