<div id="m_login">




	
	<m-login  class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" *ngIf="action === 'login'" [(action)]="action"></m-login>

	<!--<m-register  class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" *ngIf="action === 'register'" [(action)]="action"></m-register>

	<m-confirm  class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" *ngIf="action === 'confirm'" [(action)]="action"></m-confirm>


	<m-forgot-password  class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2" *ngIf="action === 'forgot-password'" [(action)]="action"></m-forgot-password>-->


</div>

