<!-- <div class="bg-white--content tabsWrabber"> -->

	<div class="row justify-content-between">
		<div class="col">
			<h5 class="m-portlet__head-text mb-4">
				{{ "TASKS_MANAGEMENT.ALL" | translate }}
			</h5>
		</div>
		<div class="col d-flex justify-content-end">
			<button class="btn btn-light-grey mb-3" type="button" *ngIf="addFlag && !isCollapsed"  (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
				<i class="fa fa-plus"></i>

				{{'MEETINGS.TASK.GENERAL.ADDNEWTASK' | translate}}
			</button>
		</div>
	</div>

	<div class="row" id="collapseExample" [ngbCollapse]="!isCollapsed">
		<div class="m-form col-md-12 mb-5">
			<m-task [taskStatus]="taskStatus" [meetingId]="meetingId" [voteId]="voteId" [users]="users" [agendas]="agendas" (callList)="newTaskAdded()" (cancelAdd)="closeCollapse()"></m-task>
		</div>

	</div>
	<div class="mat-table__ wrapper">
		<table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear
			class="table table-grey-header table-hover table-scroll clickable mat-table">

			<!-- Position Column -->
			<ng-container  [matColumnDef]="isArabic? 'description' : 'description'">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{'MEETINGS.TASK.LIST.DESCRIPTION' | translate}} </th>
				<td mat-cell *matCellDef="let element"> {{element.description}} </td>
			</ng-container>
			<ng-container matColumnDef="serial_number">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> {{'MEETINGS.TASK.LIST.SERIAL_NUMBER' | translate}} </th>
				<td mat-cell *matCellDef="let element"> {{element.serial_number}} </td>
			</ng-container>

			<!-- Position Column -->
			<ng-container matColumnDef="assigned_to">
				<th mat-header-cell *matHeaderCellDef> {{'MEETINGS.TASK.LIST.ASSIGNEE'| translate}} </th>
				<td mat-cell *matCellDef="let element">
					<div class="m-widget4__info m-widget__member-name">
						<span class="m-widget4__sub" *ngIf="element.assignee.user_title_ar || element.assignee.user_title_en">
							{{isArabic? element.assignee.user_title_ar : element.assignee.user_title_en? element.assignee.user_title_en : element.assignee.user_title_ar}}/
						</span>

						<span class="m-widget4__title">
							{{isArabic? (element.assignee.name_ar? element.assignee.name_ar : element.assignee.name) : element.assignee.name? element.assignee.name : element.assignee.name_ar}}
						</span>
						<br>
						<span class="m-widget19_ _time">
							{{isArabic? element.assignee.job_title_ar : element.assignee.job_title_en? element.assignee.job_title_en : element.assignee.job_title_ar}}
						</span>
					</div>

				</td>
			</ng-container>

			<!-- Position Column -->
			<ng-container matColumnDef="start_date">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>{{'MEETINGS.TASK.LIST.SCHEDULE' | translate}} </th>
				<td mat-cell *matCellDef="let element"> {{element.start_date | date: 'MMMM d, y'}} </td>
			</ng-container>

			<!-- Position Column -->
			<ng-container matColumnDef="task_status_id">
				<th mat-header-cell *matHeaderCellDef mat-sort-header> 	{{'MEETINGS.TASK.LIST.STATUS'| translate}} </th>
				<td mat-cell *matCellDef="let element">
					<span class="m-badge m-badge--status"
					[ngClass]="{'m-badge--success': element.task_status_id == taskStatusEnum.DONE,
								'm-badge--accent': element.task_status_id == taskStatusEnum.INPROGRESS,
								'm-badge--metal': element.task_status_id == taskStatusEnum.NEW}">
					{{isArabic? element.task_status_name_ar : (element.task_status_name_en? element.task_status_name_en : element.task_status_name_ar)}}
                     </span>
					</td>
			</ng-container>

			<!-- Symbol Column -->
			<ng-container matColumnDef="actions">
				<th mat-header-cell *matHeaderCellDef> 	{{'GENERAL.ACTIONS' | translate}} </th>
				<td mat-cell *matCellDef="let element">
					<button type="button" *ngIf="editFlag && element.task_status_id == taskStatusEnum.NEW"  (click)="edit(element)"
						class="btn btn-black m-btn m-btn--icon m-btn--outline-2x p-0 text-center"
						matTooltip="{{'BUTTON.EDIT' | translate}}">
						<i class="flaticon-edit-1"></i>
					</button>

					<button type="button" *ngIf="deleteFlag" (click)="delete(element.id)"
						class="btn btn-danger m-btn m-btn--icon m-btn--outline-2x p-0 text-center"
						matTooltip="{{'BUTTON.DELETE' | translate}}">
						<i class="flaticon-delete-2"></i>
					</button>
				</td>
			</ng-container>


			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
		</table>

		<div class="mat-table__message" *ngIf="dataSource?.length == 0">
			{{'GENERAL.NORECORDSFOUND' | translate}}
		</div>
	</div>
	<!-- start: BOTTOM -->
	<div class="mat-table__bottom">
		<mat-spinner [diameter]="20" *ngIf="loading$ |async"></mat-spinner>
		<mat-paginator [pageSize]="pageSize" [length]="paginatorTotal$" [showFirstLastButtons]="true">
		</mat-paginator>
	</div>
<!-- </div> -->
