<m-portlet [options]="{ headLarge: false }">
	<!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
	<ng-container mPortletHeadTitle>
		<div class="m-portlet__head-title">
			<h3 class="m-portlet__head-text" *ngIf="isParticipant">
				{{ "USERS.LIST.PARTICIPANTSLIST" | translate }}
			</h3>
			<h3 class="m-portlet__head-text" *ngIf="!isParticipant">
				{{ "USERS.LIST.USERSLIST" | translate }}
			</h3>
		</div>
	</ng-container>
	<ng-container mPortletHeadTools>
		<button i18n type="button" class="btn btn-link" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
			<i class="fa fa-filter"></i>
			{{ "BUTTON.SHOWFILTER" | translate }}
		</button>
		<button *ngIf="isParticipant && addFlag" [routerLink]="isParticipant ? ['/participants/add'] : ['/users/add']" type="button" class="btn btn-primary" [disabled]="!canAddUser">
			{{ "USERS.LIST.ADDNEWPARTICIPANT" | translate }}
		</button>

		<button [hidden]="!(!isParticipant && addFlag)" [routerLink]="isParticipant ? ['/participants/add'] : ['/users/add']" type="button" class="btn btn-primary" [disabled]="!canAddUser" joyrideStep="addUser" [title]="'TUTORIALGUIDE.ADD_USER_TITLE' | translate" [text]="'TUTORIALGUIDE.ADD_USER_BODY' | translate">
			{{ "USERS.LIST.ADDNEWUSER" | translate }}
		</button>
		<div class="d-flex justify-content-end mx-2">
			<button type="button" (click)="exportUnActiveUsers()" class="btn btn-primary" matTooltip="{{ 'USERS.LIST.EXPORTBLOCKEUSER' | translate }}">
				<i class="fa fa-file-download"></i>
				{{ "COMMITTEES.ADD.EXPORTCOMMITTEEDATA" | translate }}
			</button>
		</div>
	</ng-container>
	<!-- end::Header -->

	<!-- start::Body (attribute: mPortletBody) -->

	<ng-container mPortletBody>
		<div class="row" id="collapseExample" [ngbCollapse]="!isCollapsed">
			<div class="m-form col-md-12">
				<div class="bg-white--content">
					<form class="" novalidate #userForm="ngForm" (ngSubmit)="getList()">
						<table class="table table-filter table-bordered table-hover">
							<thead class="">
								<tr>
									<th>{{ "USERS.LIST.USERNAME" | translate }}</th>
									<th>{{ "USERS.LIST.EMAIL" | translate }}</th>
									<th *ngIf="!isParticipant">{{ "USERS.LIST.ROLE" | translate }}</th>
									<th>{{ "USERS.LIST.OPERATIONS" | translate }}</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<input type="text" placeholder="{{ 'USERS.LIST.USERNAME' | translate }}" class="form-control form-filter input-sm" id="username" name="username" [(ngModel)]="filterObject.SearchObject.name" #username="ngModel" />
									</td>
									<td>
										<input type="text" placeholder="{{ 'USERS.LIST.EMAIL' | translate }}" class="form-control form-filter input-sm" id="email" name="email" [(ngModel)]="filterObject.SearchObject.email" #email="ngModel" />
									</td>
									<td width="200" *ngIf="!isParticipant">
										<ng-select class="" [searchable]="true" [(ngModel)]="filterObject.SearchObject.role_id" name="role" #role="ngModel" [items]="roles" [bindLabel]="bindLabel" bindValue="id" placeholder="{{ 'USERS.LIST.ROLE' | translate }}">
											<!--<ng-option *ngFor="let role of roles" [value]="role.id">{{isArabic? role.role_name_ar : (role.role_name? role.role_name : role.role_name_ar)}}</ng-option>-->
											<ng-template ng-option-tmp let-item="item">
												<span [title]="item.name" class="ng-option-label">{{ isArabic ? item.role_name_ar : item.role_name ? item.role_name : item.role_name_ar }}</span>
											</ng-template>
										</ng-select>
									</td>
									<td>
										<div class="margin-bottom-5 in-b serchbtnMar">
											<button type="submit" class="btn btn-primary m-btn--icon mr-2"><i class="la la-search"></i>{{ "BUTTON.SEARCH" | translate }}</button>
											<button type="button" class="btn btn-secondary m-btn--icon" (click)="resetSearch()"><i class="la la-close"></i>{{ "BUTTON.RESET" | translate }}</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</ng-container>
	<ng-container mPortletBody>
		<div class="bg-white--content">
			<div class="mat-table__wrapper">
				<table mat-table [dataSource]="dataSource" matSort matSortActive="id" matSortDirection="desc" matSortDisableClear class="table table-bordered m-table table-hover table-striped table-scroll clickable mat-table">
					<ng-container matColumnDef="name">
						<th *matHeaderCellDef mat-sort-header>{{ "USERS.LIST.USERNAME" | translate }}</th>
						<td *matCellDef="let user">{{ isArabic ? (user.name_ar ? user.name_ar : user.name) : user.name ? user.name : user.name_ar }}</td>
					</ng-container>

					<ng-container matColumnDef="email">
						<th *matHeaderCellDef mat-sort-header>{{ "USERS.LIST.EMAIL" | translate }}</th>
						<td *matCellDef="let user">{{ user.email }}</td>
					</ng-container>
					<ng-container matColumnDef="role_id">
						<th *matHeaderCellDef mat-sort-header>{{ "USERS.LIST.ROLE" | translate }}</th>
						<td *matCellDef="let user">{{ isArabic ? user.role_name_ar : user.role_name ? user.role_name : user.role_name_ar }}</td>
					</ng-container>

					<ng-container matColumnDef="actions">
						<th *matHeaderCellDef>
							{{ "USERS.LIST.ACTIONS" | translate }}
						</th>
						<td *matCellDef="let user" class="mat-column-action">
							<button type="button" (click)="edit(user.id)" *ngIf="editFlag" class="btn btn-black m-btn m-btn--icon m-btn--outline-2x" matTooltip="{{ 'BUTTON.EDIT' | translate }}">
								<i class="flaticon-edit-1"></i>
							</button>
							<button type="button" *ngIf="user.id != currentUser.id && (user.is_active == 0 || user.is_active == null) && activeFlag" (click)="activeDeactive(user, 1)" class="btn btn-sky" matTooltip="{{ 'BUTTON.ACTIVATE' | translate }}" [disabled]="!canDoAction">
								<i class="fa fa-check"></i>
							</button>

							<button type="button" *ngIf="user.id != currentUser.id && (user.is_active == 1 || user.is_active == null) && deActiveFlag" (click)="activeDeactive(user, 0)" class="btn btn-light-grey" matTooltip="{{ 'BUTTON.DEACTIVATE' | translate }}" [disabled]="!canDoAction">
								<i class="fa fa-ban"></i>
							</button>
							<!-- new setting -->
							<button (click)="unblock(user)" *ngIf="user.id != currentUser.id && user.is_blocked == 1 && blockFlag" class="btn btn-success" matTooltip="{{ 'BUTTON.REMOVEFROMBLACKLIST' | translate }}">
								<i class="fa fa-minus"></i>
							</button>
							<button (click)="block(user, 1)" *ngIf="user.id != currentUser.id && (user.is_blocked == 0 || user.is_blocked == null) && unblockFlag" class="btn btn-green" matTooltip="{{ 'BUTTON.ADDTOBLACKLIST' | translate }}">
								<i class="fa fa-plus"></i>
							</button>
							<!-- new setting -->
							<button type="button" (click)="delete(user.id)" *ngIf="user.id != currentUser.id && deleteFlag" class="btn btn-danger m-btn m-btn--icon m-btn--outline-2x" matTooltip="{{ 'BUTTON.DELETE' | translate }}">
								<i class="flaticon-delete-2"></i>
							</button>
						</td>
					</ng-container>

					<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
				</table>

				<div class="mat-table__message" *ngIf="dataSourceLength">{{ "GENERAL.NORECORDSFOUND" | translate }}</div>
			</div>

			<!-- start: BOTTOM -->
			<div class="mat-table__bottom">
				<mat-spinner [diameter]="20" *ngIf="loading$ | async"></mat-spinner>
				<mat-paginator [pageSize]="pageSize" [length]="paginatorTotal$" [showFirstLastButtons]="true"></mat-paginator>
			</div>
		</div>
	</ng-container>
	<!-- end::Body -->
</m-portlet>
