<m-portlet [options]="{headLarge: true}">
  <!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
  <ng-container mPortletHeadTitle>
    <div class="m-portlet__head-title">
      <h3 class="m-portlet__head-text">
        {{'MENU.DASHBOARD' | translate}}
      </h3>
    </div>
  </ng-container>
  <ng-container mPortletHeadTools>


  </ng-container>
  <!-- end::Header -->



  <!-- start::Body (attribute: mPortletBody) -->
  <ng-container mPortletBody *ngIf="dashboard">
    <div class="">


      <div class="row">
        <div class="col-lg-8 my-3">
          <div class="bg-white--content dashboard-card mt-0 h-100">
            <div class="d-flex justify-content-between align-items-center">
              <h3>{{'DASHBOARD.MEETINGS'|translate}}</h3>
              <button class="btn btn-primary font-13" [routerLink]="['/meetings/add']" *ngIf="addMeetingFlag"><i
                  class="fa fa-plus"></i> {{'DASHBOARD.ADDNEWMEETING'|translate}}</button>
            </div>
            <m-dashboard-meetings
              [dashboardMeetings]="{meetings_statistics:dashboard.meetings_statistics,meetings:dashboard.meetings}">
            </m-dashboard-meetings>
          </div>
        </div>
          <div class="col-lg-4 mb-3">
            <div class="bg-white--content dashboard-card mt-0 h-100">
              <div class="d-flex justify-content-between align-items-center">
                <h3>{{'DASHBOARD.TASKS'|translate}}</h3>
              </div>
            <m-dashboard-tasks (reload)="getBoardDashboard()"
              [dashboardTasks]="{tasks:dashboard.tasks,tasks_statistics:dashboard.tasks_statistics}">
            </m-dashboard-tasks >
            </div>
          </div>
        <div class="col-lg-4">
          <div class="bg-white--content dashboard-card mt-0 h-100">
            <ul ngbNav #nav="ngbNav" class="nav-pills sm-nav">
              <li ngbNavItem>
                <button ngbNavLink>{{'DASHBOARD.COMMITTEES'|translate}}</button>
                <ng-template ngbNavContent>
                  <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary m-0 font-13" [routerLink]="['/committees/add']" *ngIf="addCommitteeFlag"><i
                        class="fa fa-plus"></i>{{'DASHBOARD.ADDNEWCOMMITTEE'|translate}}</button>
                  </div>
                  <m-dashboard-commities [committees]="dashboard.committees"
                    [committeesCount]="dashboard.committees_count" [membersCount]="dashboard.committees_members_count">
                  </m-dashboard-commities>
                </ng-template>
              </li>
              <li ngbNavItem>
                <button ngbNavLink>{{'DASHBOARD.MEMBERS'|translate}}</button>
                <ng-template ngbNavContent>
                  <div class="d-flex justify-content-end align-items-center">
                    <button class="btn btn-primary m-0 font-13" [routerLink]="['/users/add']" *ngIf="addUserFlag"><i
                        class="fa fa-plus"></i>{{'DASHBOARD.ADDNEWMEMBER'|translate}}</button>
                  </div>
                  <m-dashboard-members [membersCount]="dashboard.members_count" [members]="dashboard.members">
                  </m-dashboard-members>
                </ng-template>
              </li>


            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
          </div>

        </div>

        <div class="col-lg-4">
          <div class="bg-white--content dashboard-card mt-0 h-100">
            <ul ngbNav #dashboardNav="ngbNav" class="nav-pills sm-nav">
              <li ngbNavItem>
                <button ngbNavLink>{{'DECISIONS.LIST.DECISIONS'|translate}}</button>
                <ng-template ngbNavContent>
                  <div class="d-flex justify-content-end align-items-center">
                  </div>
                  <m-dashboard-decision
                    [dashboardDecisions]="{decisions:dashboard.meeting_decisions,decisions_statistics:dashboard.meeting_decisions_statistics}">
                  </m-dashboard-decision>
                </ng-template>
              </li>
              <li ngbNavItem>
                <button ngbNavLink>{{'CIRCULAR_DECISIONS.LIST.CIRCULAR_DECISIONS'|translate}}</button>
                <ng-template ngbNavContent>
                  <m-dashboard-circular-decisions
                    [dashboardDecisions]="{decisions:dashboard.circular_decisions,decisions_statistics:dashboard.circular_decisions_statistics}">
                  </m-dashboard-circular-decisions>
                </ng-template>
              </li>


            </ul>
            <div [ngbNavOutlet]="dashboardNav" class="mt-2"></div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="bg-white--content dashboard-card mt-0 h-100">
            <h3>{{'REVIEWS_ROOM.REVIEW.REVIEWS'|translate}}</h3>
            <m-dashboard-reviews
              [dashboardDocuments]="{documents:dashboard.documents,documents_statistics:dashboard.documents_statistics}">
            </m-dashboard-reviews>
          </div>

        </div>

      </div>
    </div>
  </ng-container>
  <!-- end::Body -->
</m-portlet>