
.m-content--skin-light .m-body {
    background-color: rgba(242, 244, 251, 0.6);
}

.mat-progress-bar-fill::after {
    background-color: #34607B;
}

.mat-progress-spinner circle, .mat-spinner circle {
	stroke: #34607b
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
	stroke: #34607b
}

.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__email {
    color: #ffffff;
}

.m-card-user.m-card-user--skin-dark .m-card-user__details .m-card-user__name {
    color: #ffffff;
}

.number_block {
    background: #4b4b4b;
    border: 1px solid #4b4b4b;
    color: #fff;
}

.m-link {
    color: #847b93;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__userpic img {
    border: 1px solid #dfdfdf;
    box-shadow: 0px 1px 15px 1px rgba(202, 198, 161, 0.21);
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item>a .m-topbar__language-text.btn {
    border: 0px solid #ebedf2;
    color: #121212;
    background: #fbfbf8;
    color: #223ca9;
    background: #f2f4fb;
    text-decoration: none;
	box-shadow: none!important;
	line-height: 43px;
}

.enz--light-grey-text { color: #aeaeae; }

.table.table-striped thead th {
	background: #1F355E;
	color: #fff;
	vertical-align: middle;
}


.m-portlet .m-portlet__head {
    border-bottom: 0px solid #ebedf2;
}
.m-dropdown .m-dropdown__wrapper .m-dropdown__header {
	background-color: #1a4c6b;
}


@media (min-width: 1025px){
body.m-aside-left--skin-dark .m-header .m-header-head {
    box-shadow: 0px 1px 15px 1px rgba(69,65,78,0.1);
    border-bottom: 1px solid #dee0e4;
}

.m-brand .m-brand__logo, .m-brand .m-brand__tools {
    border-bottom: 1px solid #1a4c6b;
}
}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow {
    color: #194c6b;
}

.m-splash-screen {
    background-color: #ffffff!important;
}

.lc-grid__item--wrapper {
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}



.m-grid.m-grid--hor:not(.m-grid--desktop):not(.m-grid--desktop-and-tablet):not(.m-grid--tablet):not(.m-grid--tablet-and-mobile):not(.m-grid--mobile) {
    flex-grow: inherit;
}





/* start notification */
.m-badge.m-badge--wide.bigger {
	padding    : 6px 60px;
	font-size  : 14px;
	font-weight: 500;
}

.m-aside-menu.m-aside-menu--skin-dark .m-menu__nav>.m-menu__item>.m-menu__link .m-menu__link-icon.font-awesome-icon {
	font-size  : 15px;
	line-height: 20px;
}

.presentation-container .aside {
	overflow-y: auto;
}

.min-w {
	border   : none !important;
	min-width: 10px !important;
}

.w-100 {
	width: 100%;
}

.not-allowed {
	cursor: not-allowed;
}

.pointer {
	cursor: pointer;
}

.setings-group {
	border-top : 1px solid #ebedf2;
	padding-top: 20px;
}

.not-allowed {
	cursor: not-allowed !important;
}

.enz-notification-icon {
	margin-top: 5px;
}

.enz-notification-icon i {
	color    : #c7c7c7;
	font-size: 1.5rem;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown--arrow .m-dropdown__arrow {
	color  : #194c6b !important;
	display: none;
}

.m-dropdown .enz-notification-dropdown.m-dropdown__wrapper .m-dropdown__body {
	padding: 0;
}

.enz-notifications-list {
	list-style: none;
	padding   : 0;
}

.enz-notifications-item {
	padding        : 5px 15px;
	display        : flex;
	align-items    : center;
	justify-content: flex-start;
	background     : white;
	cursor         : pointer;
	border-bottom  : 1px solid #f0f0f0;
}

.enz-notifications-icon {
	background     : white;
	border-radius  : 50%;
	width          : 40px;
	height         : 40px;
	min-width      : 40px;
	min-height     : 40px;
	display        : flex;
	align-items    : center;
	justify-content: center;
	box-shadow     : 0 0 7px 1px #eee;
}

.enz-notifications-icon i {
	color    : #194c6b;
	font-size: 1.4rem;
}

.enz-notifications-icon i.flaticon-meeting {
	font-size: 1.1rem;
}

.enz-notifications-text,
.enz-notifications-title,
.enz-notifications-date {
	padding-left : 10px;
	padding-right: 10px;
	margin       : 2px;
}

.enz-notifications-title {
	font-size  : 16px;
	font-weight: 400;
}

.enz-notifications-text {
	font-size: 13px;
}

.enz-notifications-date {
	font-size: 12px;
	color    : #a3a3a3;
}

.enz-notification-new .enz-notifications-text,
.enz-notification-new .enz-notifications-title {
	font-weight: 400;
}

.enz-notification-new .enz-notifications-title {
	font-weight: 500;
}

.enz-notification-new {
	background: #fbfbf8;
}

.m-badge.m-badge--dot-medium {
	min-height: 6px;
	min-width : 6px;
	height    : 6px;
	width     : 6px;
}

.m-badge.m-badge--dot-medium.m-badge--danger {
	background-color: #194c6b;
	color           : white;
}

.badge-primary {
	background      : #194c6b;
	background-color: #194c6b !important;
}

.toastr-info {
	background-color: #194c6b !important;
}

.to-title {
	font-weight: 600 !important;
}

.enz-notification-dropdown .m-dropdown__header {
	background-color: #194c6b !important;
}

.enz-seperator-border-bottom {
	border-bottom: 1px solid #f0f0f0;
}

.btn-outline-secondary.dark {
	border-color: #666666;
	color       : #666666;
}

.signature-card {
	width        : 100%;
	height       : 180px;
	border-radius: 10px;
	margin-bottom: 20px;
	background   : #f2f3f7;
	position     : relative;
}

.signature-card:before {
	content      : " ";
	position     : absolute;
	width        : 93%;
	height       : 0;
	left         : 0;
	right        : 0;
	bottom       : 30px;
	background   : transparent;
	border-bottom: 2px dashed #aaaaab;
	margin       : 0 auto;
}

.signature-modal .modal-header .close {
	margin: 0;
}

.signature-modal .modal .modal-content .modal-header .modal-title {
	font-size: 1.5rem;
}

.stick {
	position: absolute !important;
}

.modal .modal-content .modal-header {
	padding: 20px 25px;
}

.modal .modal-content .modal-header a {
	cursor: pointer;
}

.modal .modal-content .modal-footer {
	padding: 20px 25px;
}

.m-input {
	border-radius: 10px;
}

.joyride-step__container {
	border-radius: 12px;
}

.joyride-button {
	border-radius   : 15px;
	background-color: #f07c12 !important;
	border-color    : #f07c12 !important;
}

.joyride-step__title {
	color: #000 !important;
}

@media (max-width: 767px) {
	.signature-btns .btn {
		font-size  : 12px;
		line-height: 22px;
		min-width  : 40%;
	}

	.signature-btns .btn i {
		font-size: 12px;
	}

	.min-action-bar {
		padding-top   : 0;
		padding-bottom: 0;
	}

	.min-action-bar .btn {
		min-width: 60px;
	}

	.meeting-minutes-con {
		padding-top: 110px;
	}
}

.m-menu__link-icon {
	font-size: 20px;
}

.text-blue {
	color: #36a3f7 !important;
}
