<div id="m_login" class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--signin m-login--2 m-login-2--skin-2">
    <div class="m-grid__item m-grid__item--fluid m-login__wrapper-2 m-login__wrapper">
        <div class="m-login__container">
            <div class="m-login__logo">
                <a href="#">
                    <img src="./assets/app/media/img/logos/{{themeName}}/Main-Logo.png" class>
                </a>
            </div>
    
    
            <!--begin::Signin-->
            <div class="m-login__signin mjlsi--auth-form">
                <div class="m-login__head">
                    <h3 translate="AUTH.VERIFY.TITLE" class="m-login__title margin-bottom-0"></h3>
                    <div translate="AUTH.VERIFY.DESC" class="m-login__desc margin-top-10"></div>
                </div>

                <m-auth-notice></m-auth-notice>
    
                <!--begin::Form-->
                <form class="m-login__form m-form" name="verificationCodeForm" 
                (ngSubmit)="submit(verificationCodeForm)" #verificationCodeForm="ngForm"  novalidate>
    
                    <div class="form-group m-form__group">
                        <label for="exampleInputCode" >{{'AUTH.VERIFY.CODE' | translate}}</label>
                        <div class="split-cell row">
                            <div class="half left col">
                                <mat-form-field>
                                    <input  matInput type="text" name="code" placeholder="{{'AUTH.VERIFY.CODE' | translate}}" 
                                    class="form-control m-input" autocomplete="off" 
                                    [(ngModel)]="model.verificationCode" #code="ngModel"  required >
                                    <div class="error text-danger form-control-feedback" [hidden]="!hasError(verificationCodeForm,'code', 'required')">{{'AUTH.VERIFY.CODE_REQUIRED' | translate}}</div>
                                </mat-form-field>
                                </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
						<div class="m-b-1_2">
							<a href="javascript:;" (click)="resendCode()" id="resend-code"
								class="m-link">{{ 'AUTH.OPTIONS.RESEND_CODE' | translate }}</a>
						</div>
					</div>
    
                  
                    <button type="submit" class="btn btn-primary btn-block" 
                    [disabled]="submitted">{{'AUTH.GENERAL.SUBMIT_BUTTON' | translate}}
                        <i class='fa fa-spinner fa-spin ' *ngIf="submitted"></i>
                    </button>
                </form>
                <!--end::Form-->
     
                <!--begin::Action-->
                <div class="row m-login__form-sub">
                    <div class="col m--align-left m-login__form-left m-login__account">
                        <a href="javascript:;" [routerLink]="['/login']"
                        id="m_login_signup" class="m-link m-link--light m-login__account-link"
                        >
                        <i class="la la-arrow-left"></i>
                        {{'AUTH.GENERAL.BACK_BUTTON'|translate}}
                        </a>
                    <!-- <a href="javascript:;" id="m_login_forget_password" class="m-link">Forget Password ?</a> -->
                </div>
                        <div class="col m--align-right m-login__form-right">
                                <m-language-selector></m-language-selector>                               
                        </div>
                        
                    </div>
                <!--end::Action-->
    
            </div>
            <!--end::Signin-->
  
        </div>
    </div>
    </div>
    