<!-- start::Header (attributtes: mPortletHeadTitle|mPortletHeadTools) -->
<div class="d-flex justify-content-between align-items-center mx-4 px-4 mt-4 mb-4">
	<div class="m-portlet__head-title d-flex flex-column">
		<div>
			<a (click)="back()" class="btn btn-link m-0 p-0">
				<i class="fas fa-chevron-right" ></i>
				Back
			</a>
		</div>
		<h3 class="m-portlet__head-text">
			Decision Details
		</h3>
	</div>
</div>
<!-- end::Header -->


<div class="px-5 pt-4 pb-5">
	<m-decision-details></m-decision-details>
</div>
