<div class="row py-0" infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="0"
[alwaysCallback]="true"
(scrolled)="onScroll()">
  <div class="col-md-6 col-lg-3 py-2 pr-4 pr-lg-0 pl-lg-3 pl-2" *ngFor="let file of files;let i = index">
    <div class="bg-white d-flex align-items-center justify-content-between border shadow-sm rounded">
      <div class="m-widget24 d-flex py-3 w-75">
        <div class="d-flex align-items-center px-3">
          <span class="m--font-brand"><img [src]="file?.file_type?.file_type_icon" [alt]="file?.file_type?.file_type_ext"
              class="file-icon"></span>
        </div>
        <div class="m-widget24__item d-flex justify-content-center flex-column w-75">
          <h3 class="m-widget24__title font-size-14 m-0 text-truncate color-title-dark font-weight-500" placement="top" ngbTooltip="{{file.file_name}}"> {{file.file_name}} </h3>
          <span class="m-widget24__desc font-size-12 m-0">{{formatBytes(file.file_size)}}</span>
        </div>
      </div>
      <div ngbDropdown class="d-inline-block position-relative mr-3 ellipsis-btn ">
        <button class="btn bg-white dropdown_no_arrow dropdown-btn-transperant ellipsis-icon m-link" id="dropdownBasic1"
          ngbDropdownToggle><i class="fas fa-ellipsis-v"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" placement="bottom-right" [ngClass]="{'dropdown-menu-right': isArabic, 'dropdown-menu-left': !isArabic}">
          <button ngbDropdownItem class="btn bg-white d-flex align-items-center m-0 p-0 color-dark-grey" *ngIf="file.can_share" (click)="openShareModal(file)" ><i
              class="fas fa-external-link-alt"></i> {{'FILES.SHARE'|translate}}</button>
          <button ngbDropdownItem class="btn bg-white d-flex align-items-center m-0 p-0 color-dark-grey" (click)="downloadFile(file)"><i class="fas fa-arrow-down"></i>
            {{'FILES.DOWNLOAD'|translate}}</button>
            <button ngbDropdownItem class="btn bg-white d-flex align-items-center m-0 p-0 color-dark-grey" (click)="openRenameModal(file)" *ngIf="file.can_edit" ><i
              class="far fa-edit"></i>
              {{'FILES.RENAME'|translate}}</button>
          <button ngbDropdownItem class="btn bg-white d-flex align-items-center m-0 p-0 text-danger"
            (click)="handleDeleteFileRequest(file)" *ngIf="file.can_delete"><i
              class="far fa-trash-alt"></i> {{'FILES.REMOVE'|translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
